@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import './post-it.css';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 0.675rem;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #383838;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding-top: 10vh;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 5%;
  /*background-color: rgb(233, 245, 255);*/
  background-color: white;
  z-index: 10;
}

h2{
  font-family: 'Crete Round', serif;
	font-size: 5rem;
  width: fit-content;
  z-index: 2;
  color: #933A8F;
  margin: 0 0 2vh 0 ;
}

.header-img{
  height: 10vh;
}

.branding {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.headername{
  margin-left: 2vw;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item{
  text-transform: uppercase;
  width: 10vw;
  font-weight: bold;
  font-size: 2rem;
  color: #933A8F;
}

.nav-item:hover{
  width: 10vw;
  color:#2FC3F5;
}

a {
  color: #7b9d6f;
  text-decoration: none;
}

p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

}

.mainpage__container{
	position: relative;
	color: black;
	width: 100%;
	min-height: 80vh; 
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0 10vw;
	align-items: center;
	flex-wrap: wrap;
}
/*rgb(111, 183, 241)*/

.introname{
  font-family: 'Crete Round', serif;
	font-size: 5rem;
  width: fit-content;
  z-index: 2;
  color: #933A8F;
}

.introcontent {
  max-width: 35%;
}

.introtext__explanation{
  font-size: 2rem;
  font-family: 'Audiowide', cursive;
  font-style: italic;
}

.introtext{
	font-size: 1.5rem;
  font-weight: 100;
  margin: 2vh 0 3vh 0;

}

#profilepicture{
	width: 40rem;
	max-height: 40rem;
}

#downloadpicture{
	object-fit: cover;
	width: 40rem;
	height: 30rem;
}

#timeline__title{
  width: 100%;
  height: 10vh;
  box-sizing: border-box;
  padding: 0 10%;
  padding-top:  30vh;

  margin-bottom: 30vh;

  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.events{
  position: absolute;
  bottom: 35vh;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10%;
}

.events.fixed{
  top: 10vh;
  height: 100px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10%;
  z-index: 100;
  background-color: white;
}

#filling-line{
  position: absolute;
  bottom: 25px;
  width: 0%;
  height: 5px;
  background-color: #933A8F;
  z-index: -1;
}

.events-list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  padding: 0;
}

.events-list li{
  list-style: none;
  width: 15%;
}

li a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  height: 100%;
  color: black;
  text-align: center;
}

.events-list li a::after{
  content: '○';
  font-size: 50px;
}

.content-container{
  display: none;
  box-sizing: border-box;
  padding: 10vh 0;
  padding-top: 25vh;
  min-height: 70vh;
}

.container-0{
  background-color: rgb(233, 245, 255);
}

.content-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.prototype__row{
  margin: 10vh 0;
}

.row-item{
  margin-right: 5vw;
}

.events-content div div.selected{
  display: block;
}

.events-list li a.active::after{
  content: '●';
  font-size: 50px;
  color: #2FC3F5;
}

.events-list li a.currentnav{
  font-weight: bold;
}

#details{
  width: 75%;
  margin: 0 auto;
  box-sizing: border-box;
}

#detail div{
  width: 100%;
}

#content-1 table{
  box-sizing: border-box;
  width: 80%;
  margin: 5% auto;
  border-collapse: collapse;
}

th{
  box-sizing: border-box;
  padding: 20px 10px;
  border: black 1px solid;
}

th.positive{
  background-color: green;
  color: white;
}

th.negative{
  background-color: red;
  color: white;
}


td {
  box-sizing: border-box;
  padding: 10px ;
  border: black 1px solid;
}

.prototype__image{
  max-width: 30vw;
}

footer {
  background-color:white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5vh 5vw;
  bottom: 0;
  width: 100%;
  min-height: 20vh;
}
.footer-section{
  width: 20%;
}
.footer-section ul{
  padding: 0;
}

.footer-section ul li{
  list-style: none;
  margin-bottom: 2vh;
}

.footer-section ul li a{
  color: #933A8F;
  text-align: left;
  display: block;
}

.coloredbutton{
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  height: 4vh;
  font-size: 2vh;
  line-height: 3.5vh;
  box-sizing: border-box;
  padding: 5px 30px;
  background: linear-gradient(135deg,#933A8F 30%, #2FC3F5 100%);
  margin: 2vh 0;
}

.coloredbutton:hover{
  cursor: pointer;
  background: linear-gradient(-45deg,#933A8F 30%, #2FC3F5 100%);
}

.timelinemain{
  background-color: rgb(233, 245, 255);
  min-height: 100vh;
  box-sizing: border-box;
}

.intextlink{
  color: #933A8F;
  cursor: pointer;

}

.intextlink:hover{
  color: #2FC3F5;
  cursor: pointer;
}

.ethieklowertext{
  margin: 5vh 0 ;
}

@media only screen and (max-width: 992px) {
  .content-container{
    display: none;
    box-sizing: border-box;
    padding: 10vh 0;
    min-height: 70vh;
  }

  .mainpage__container{
    position: relative;
    color: black;
    width: 100%;
    min-height: 0; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8vh 10vw;
    align-items: center;
  }

  .introcontent{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-1{
    flex-direction: column-reverse;
  }

  .mobileitem{
    margin-bottom: 5vh;
  }

  #content-0 .content-row{
    display: flex;
    flex-direction: column-reverse;
  }

  .ethiekmobile-none{
    display: none;
  }
}